<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="header" class="header">
    <a class="navbar-brand" href="/">
<!--        <img src="/common/img/logo.png" alt="Code Connect" style="width:100px; height:auto;"/>Code Contents</a>-->
        <div class="logo">Code Connect</div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
</html>